<div class="container">
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <div location="mail"></div>
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <div location="password"></div>
	  </div>
	  <div class="form-group form-check">
	    <div location="check"></div>
	    <label class="form-check-label" for="exampleCheck1">Check me out</label>
	  </div>
	  <div location="enviar"></div>
	</form>
</div>