<div class="conten">
	<div class="middle">
		
		<div class="login-form">
			
			
			<div class="row-logo"><img src="../images/logo_ms.png" /></div>
			<div location="user"></div>
			<div class="div-img"><img src="../images/user.svg" /></div>
			
			<p class="txt-sesion">Escribir Contraseña</p>
			<div location="password" class="row"></div>
			<table class="tabla">
				<tr>
					<td>
						<div location="atras" class="row"></div>
					</td>
					<td>
						<div location="siguiente" class="row"></div>
					</td>
				</tr>
			</table>
			
			<div location="check" class="row"></div>
			<div location="recuperar"></div>
		
		</div>
	</div>
	

</div>